<div class="container margenes">
    <div class="rows">
        <div class="col">
            <h2 class="blanco">Agregar una nueva novedad</h2>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">
                    <label for="" class="form-label">Titulo</label>
                <input type="text" class="form-control"  name="titulo">
                    </div>
                        <div class="mb-3">
                        <label for="" class="form-label">subtitulo</label>
                         <textarea class="form-control" name="subtitulo" rows="3"></textarea>
   
                    </div>
                        <div class="mb-3">
                        <label for="" class="form-label">cuerpo</label>
                        <textarea class="form-control" name="cuerpo" rows="3"></textarea>
   
                    </div>
                        <div class="col-auto">
                    <button type="submit" class="btn btn-secondary btn-lg">guardar</button>
                </div>
            </form>
            {{#if error}}  
            <p class="mensaje5">{{message}}</p>
            {{/if}}  
        </div>
    </div>
</div>