<div class="contacto">
        <div>
            <h2>Contactenos</h2>
            <form action="/contacto" method="post" class="formulario">
                <P>
                    <label for="">Nombre</label>
                    <input type="text" name="nombre">
                </P>
                <p>
                    <label for="">Email</label>
                    <input type="text" name="email">
                </p>
                <p>
                    <label for="">telefono</label>
                    <input type="text" name="telefono">
                </p>
                <p>
                    <label for="">mensaje</label>
                    <textarea name="comentarios" id=""></textarea>
                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>
            </form>
                <p>{{message}}</p>
        </div>
        <div class="datos">
            <h2>otras formas de contacto</h2>
            <ul>
                <li>telefono: 1190134324</li>
                <li>mail: peakyblinders@gmail.com</li>
                <li>instagram: peakyblindersofficial
                </li>
                <li>twitter: ThePeakyBlinder</li>
                <li>facebook: Peaky Blinders</li>
            </ul>
        </div>
    </div>