  <div class="galeria">
            <h2>Galeria</h2>
        <div>
            <img src="images/galeria/arthur.jpg" alt="">
            <img src="images/galeria/hermanos.jpg" alt="">
            <img src="images/galeria/peaky blinders 2.jpg" alt="">
            <img src="images/galeria/peaky blinders.jpg" alt="">
            <img src="images/galeria/tomas.jpg" alt="">
        </div>
     </div>
      