        <section class="origen">
            <h2>origenes</h2>
            <img src="images/small-heath.jpg">
            <img src="images/garrison.jpg" alt="">
            <img src="images/casa.jpg" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi obcaecati deserunt sunt, ratione molestias deleniti, fugit iure itaque dolore mollitia odio possimus quam voluptatibus odit enim cum iusto magni facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi in mollitia et unde, sed voluptas asperiores ea blanditiis accusantium ut reiciendis quae eius! Quasi fugit qui et tenetur, perferendis iste.</p>
        </section>
        <section class="personajes">
            <h2>personajes principales</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/personajes/poly.jpg" alt="">
                    <h5>Poly Gray</h5>
                    <h6>Contadora</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione earum obcaecati suscipit officiis, laboriosam voluptates ut ipsam eveniet temporibus. Porro iure distinctio minus nesciunt ipsa laborum molestias similique eos!</p>
                </div>
                <div class="persona">
                    <img src="images/personajes/arthur.jpg" alt="">
                    <h5>Arthur Shelby</h5>
                    <h6>Hermano mayor del jefe</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione earum obcaecati suscipit officiis, laboriosam voluptates ut ipsam eveniet temporibus. Porro iure distinctio minus nesciunt ipsa laborum molestias similique eos!</p>
                </div>
                <div class="persona">
                    <img src="images/personajes/tommy.jpg" alt="">
                    <h5>Tommy Shelby</h5>
                    <h6>Jefe de la mafia</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione earum obcaecati suscipit officiis, laboriosam voluptates ut ipsam eveniet temporibus. Porro iure distinctio minus nesciunt ipsa laborum molestias similique eos!</p>
                </div>
                <div class="persona">
                    <img src="images/personajes/john.jpg" alt="">
                    <h5>John Shelby</h5>
                    <h6> Hermano menor del jefe</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione earum obcaecati suscipit officiis, laboriosam voluptates ut ipsam eveniet temporibus. Porro iure distinctio minus nesciunt ipsa laborum molestias similique eos!</p>
                </div>
                <div class="persona">
                    <img src="images/personajes/michael gray.jpg" alt="">
                    <h5>Michael Gray</h5>
                    <h6>Negociante</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione earum obcaecati suscipit officiis, laboriosam voluptates ut ipsam eveniet temporibus. Porro iure distinctio minus nesciunt ipsa laborum molestias similique eos!</p>
                </div>
            </div>
        </section>