<div class="temporadas">
            <h2>Temporadas</h2>
            <div class="info">
                <h4>Temporada 1</h4>
                <img src="images/temporadas/temporada-1.jpg" alt="peaky">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quisquam deserunt consequuntur dicta eos velit laboriosam est maxime modi placeat nihil, aperiam molestias sit! Aliquid nobis accusamus natus debitis iure.</p>
            </div>
            <div class="temporadas">
             <div class="info">
                 <h4>Temporada 2</h4>
                 <img src="images/temporadas/temporada-2.jpg" alt="">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cupiditate non, atque dolorum voluptas id pariatur a laborum iure repudiandae temporibus. Minima exercitationem maiores quae nam voluptatum minus error modi?</p>
            </div>
            <div class="temporadas">
                <div class="info">
                    <h4>Temporada 3</h4>
                    <img src="images/temporadas/temporada-3.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus placeat nesciunt aperiam tenetur nulla illum neque molestiae soluta hic recusandae rem error libero eaque quaerat consequuntur aut, amet reprehenderit atque.</p>
                </div>
                <div class="temporadas">
                    <div class="info">
                        <h4>Temporada 4</h4>
                        <img src="images/temporadas/temporada-4.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere totam, quibusdam maiores repudiandae a hic, dolor aut, accusantium aspernatur aperiam atque esse cupiditate beatae ut iste. Saepe voluptate animi nam.</p>
                    </div>
                    <div class="temporadas">
                        <div class="info">
                            <h4>Temporada 5</h4>
                            <img src="images/temporadas/temporada-5.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta accusantium ducimus corrupti aspernatur harum, fugit, repellat nemo iure, ipsa necessitatibus est numquam officia optio eos nesciunt! Culpa, deserunt. Cumque, sapiente!</p>
                        </div>
                        <div class="temporadas">
                            <div class="info">
                                <h4>Temporada 6</h4>
                                <img src="images/temporadas/temporada-6.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates necessitatibus quasi dolore velit repellendus harum tenetur, iusto doloremque repellat vero, voluptatibus distinctio laboriosam optio aliquam, ratione alias possimus cupiditate officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime omnis magnam blanditiis. Maxime illum, praesentium cumque reiciendis ipsam sint dolor, aliquid labore, natus officiis beatae. Deserunt debitis consequatur exercitationem voluptatibus.</p>
                            </div>
        </div>      